h3.centre{
    text-align: center;
    font-weight: bold;
}

table {
    border-collapse: collapse;
    border: 1px solid black;
 }

 td,th{
    border: black 1px solid;
    height: 3cm;
    width: 9cm;
    text-align: center;
}

span.bold{
    font-weight: bold;
}

table{
    justify-content: center;
    margin: 0 auto;
}

@keyframes animatedBackground {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
}
  
body{
    background-image: linear-gradient(to right, #7f7fd5, #86a8e7, #91eae4);
    background-size: 200% auto;
    animation: animatedBackground 20s ease-in-out infinite;
}

a{
    color: #00b5cc;
    text-decoration: none;
    font-weight: bold;
    background-color: #ffffff;
    padding: 5px 16px;
    border: 2px solid #00b5cc;
    border-radius: 25px;
    transition: all 0.3s ease-in-out;
    display: inline-block;
}
  
a:hover{
    color: #fff;
    background-color: #00b5cc;
    cursor: pointer;
}

span{
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    text-shadow: -1px 0 #7d5ba6, 0 1px #7d5ba6, 1px 0 #7d5ba6, 0 -1px #7d5ba6;
    text-align: center;
    margin: 50px 0;
}  

h3{
    font-size: 25px;
    font-weight: bold;
    color: #ffffff;
    text-shadow: -1px 0 #7d5ba6, 0 1px #7d5ba6, 1px 0 #7d5ba6, 0 -1px #7d5ba6;
    text-align: center;
    margin: 50px 0;
}

h1{
    font-size: 30px;
    font-weight: bold;
    color: #ffffff;
    text-shadow: -1px 0 #7d5ba6, 0 1px #7d5ba6, 1px 0 #7d5ba6, 0 -1px #7d5ba6;
    text-align: center;
    margin: 50px 0;
}